.logo_place_footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 35px;
    background-image: url(../../../images/logo_place_footer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }