.two-columns__paragraph {
    display: flex;
    flex-basis: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    color: #000;
    }

.two-columns__paragraph:first-of-type {
    margin-bottom: 30px;
    }

    .two-columns__paragraph:nth-of-type(3) {
    margin-top: 30px;
    }
